@use '../../../styles/_mixins' as *;
@use '../../../styles/variables' as vars;

.socialIcons {
  display: flex;
  justify-content: center;

  &__list {
    display: flex;
    flex-direction: row; 
    gap: 0.6rem;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    border-radius: 0.4rem;
    background-color: rgb(255, 106, 52);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
  }
}
