$white: #ffffff;
$black: #000000;
$softgray: #b3b3b3;
$gray: #545454;
$darkgray: #3b3b3b;
$orange: #ff8e07;
$vividorange: #f7941d;
$softorange: #f2ac57;
$verysoftorange: #f1c289;
$darkblue: #312f9c;
$blue: #5e5bde;
$softblue: #a9a7fb;
