$white: #FFFFFF;
$black: #000000;
$softgray: #B3B3B3;
$gray: #545454;
$darkgray: #3B3B3B;
$orange: #FF8E07;
$vividorange: #F7941D;
$softorange: #F2AC57;
$verysoftorange: #F1C289;
$darkblue: #312F9C;
$blue: #5E5BDE;
$softblue: #A9A7FB;