$white: #ffffff;
$black: #000000;
$softgray: #b3b3b3;
$gray: #545454;
$darkgray: #3b3b3b;
$darkorange: #ff7707;
$orange: #ff8e07;
$vividorange: #ff6a00ff;
$softorange: #f2ac57;
$verysoftorange: rgba(253, 189, 143, 0.909);
$darkblue: #252473;
$blue: #5e5bde;
$softblue: #c01e1e;
